
[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
	excludesfile = ~/.gitignore
[user]
	email = bcoppard@zendesk.com
	name = Briana Coppard
[push]
	default = upstream
[alias]
	co = checkout
	st = status
	c = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
