'exception-reporting':
  'userId': '81879ccd-7dbb-9672-8fd1-efca3df7e53a'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '67049412f8d15147aa63d8c621048425d321a8ca'
'editor':
  'fontSize': 14
  'showInvisibles': true
  'showIndentGuide': true
  'fontFamily': 'Courier New'
'core':
  'themes': [
    'atom-dark-flat-ui'
    'base16-tomorrow-dark-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    'node_modules'
  ]
  'disabledPackages': [
    'travis-ci-status'
    'Zen'
  ]
